/* Citation scribe css */

.hidden {
		display: none;
}

.footer {
		text-align: center;
}
#citations {
	width: 80%;
}
#citation-inner {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
.citation {
    margin: .2rem;
    text-indent: -3rem;
    padding-left: 3rem;
}
