//jade template for citationscribe
doctype html
html
	head
		title CitationScribe
		link(rel='icon' type='image/png' href='favicon.png')
		link(rel='stylesheet', type='text/css', href='normalize.css')
		link(rel='stylesheet', type='text/css', href='skeleton.css')
		link(rel='stylesheet', type='text/css', href='citationscribe.css')

		link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
	body
		div(style={width: '60vw', margin: 'auto'})
			h1(style='padding-top: 8px')
				img(src='feather.png', style='height:70px;width:70px;')
				| CitationScribe
			h5 A simple and free multi format citation maker
			hr/
			.hidden#citations
				#citation-inner


			h4 Select a citation format
			div(class='container', style={width: '100%'})
				.row
					.three.columns
						input(class='button', id='apa', value='APA', type='button')
					.three.columns
						input(class='button', id='mla', value='MLA', type='button')
					.three.columns
						input(class='button', id='chi', value='Chicago', type='button')
					.three.columns
						input(class='button', id='cse', value='CSE', type='button')
				#resources.hidden
					.row
						h4 Select a resource
					.row
						.four.columns
							input(class='button', id='book', value='Book', type='button')
						.four.columns
							input(class='button', id='magazine', value='Magazine', type='button')
						.four.columns
							input(class='button', id='news', value='Newspaper', type='button')
					.row
						.four.columns
							input(class='button', id='web', value='Website', type='button')
						.four.columns
							input(class='button', id='journal', value='Journal', type='button')
						.four.columns
							input(class='button', id='movie', value='Movie', type='button')

			//Citation Formats
			//book
			div(id ='bookInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='title') Book Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='bookTitle')
				form#bookAuthors
					.row
						.two.columns
							label(class='u-pull-right') Author
						.three.columns
							input(name='bookAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='bookAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='bookAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='bookAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='bookVolume') Volume
					.two.columns
						input(class='u-full-width', placeholder='Volume', type='text', id='bookVolume')
					.one.column
						label(class='u-pull-right', for='bookEdition') Edition
					.two.columns
						input(class='u-full-width', placeholder='Edition', type='text', id='bookEdition')
					.two.columns
						label(class='u-pull-right', for='bookPages') Page Numbers
					.two.columns
						input(class='u-full-width', placeholder='Page Numbers', type='text', id='bookNumbers')
				.row
					.two.columns
						label(class='u-pull-right', for='bookPublisher') Publisher
					.four.columns
						input(class='u-full-width', placeholder='Publisher', type='text', id='bookPublisher')
					.one.column
						label(class='u-pull-right', for='bookLocation') Location
					.three.columns
						input(class='u-full-width', placeholder='Location', type='text', id='bookLocation')
				.row
					.two.columns
						label(class='u-pull-right', for='bookYear') Year Published
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='bookYear')
				.row
					.three.columns
						input(class='button-primary', id='citeBook', value='Make Citation', type='button')
			//magazine
			div(id ='magInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='title') Article Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='magArticleTitle')
				form#magAuthors
					.row
						.two.columns
							label(class='u-pull-right') Author
						.three.columns
							input(name='magAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='magAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='magAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='magAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='magTitle') Magazine Title
					.six.columns
						input(class='u-full-width', placeholder='Magazine', type='text', id='magTitle')
				.row
					.two.columns
						label(class='u-pull-right', for='magURL') Magazine URL
					.six.columns
						input(class='u-full-width', placeholder='URL', type='text', id='magURL')

				.row
					.two.columns
						label(class='u-pull-right', for='magVolume') Volume
					.two.columns
						input(class='u-full-width', placeholder='Volume', type='text', id='magVolume')
					.two.columns
						label(class='u-pull-right', for='magPages') Page Numbers
					.two.columns
						input(class='u-full-width', placeholder='Page Numbers', type='text', id='magNumbers')

				.row
					.two.columns
						label(class='u-pull-right', for='magYear') Year Published
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='magYear')
					.one.column
						label(class='u-pull-right', for='magMonth') Month
					.two.columns
						input(class='u-full-width', placeholder='Month', type='text', id='magMonth')
					.one.column
						label(class='u-pull-right', for='magDay') Day
					.two.columns
						input(class='u-full-width', placeholder='Day', type='text', id='magDay')
				.row
					.three.columns
						input(class='button-primary', id='citeMagazine', value='Make Citation', type='button')

			//newspaper
			div(id ='newsInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='title') Article Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='newsArticleTitle')
				form#newsAuthors
					.row
						.two.columns
							label(class='u-pull-right') Author
						.three.columns
							input(name='newsAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='newsAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='newsAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='newsAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='newsTitle') Newspaper Title
					.six.columns
						input(class='u-full-width', placeholder='Newspaper', type='text', id='newsTitle')
				.row
					.two.columns
						label(class='u-pull-right', for='newsURL') Newspaper URL
					.six.columns
						input(class='u-full-width', placeholder='URL', type='text', id='newsURL')
				.row
					.two.columns
						label(class='u-pull-right', for='newsPublisher') Publisher
					.four.columns
						input(class='u-full-width', placeholder='Publisher', type='text', id='newsPublisher')
					.one.column
						label(class='u-pull-right', for='newsCity') City
					.three.columns
						input(class='u-full-width', placeholder='Location', type='text', id='newsCity')

				.row
					.two.columns
						label(class='u-pull-right', for='newsEdition') Edition
					.three.columns
						input(class='u-full-width', placeholder='Edition', type='text', id='newsEdition')
					.two.columns
						label(class='u-pull-right', for='newsPages') Page Numbers
					.two.columns
						input(class='u-full-width', placeholder='Page Numbers', type='text', id='newsNumbers')

				.row
					.two.columns
						label(class='u-pull-right', for='newsYear') Year Published
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='newsYear')
					.one.column
						label(class='u-pull-right', for='newsMonth') Month
					.two.columns
						input(class='u-full-width', placeholder='Month', type='text', id='newsMonth')
					.one.column
						label(class='u-pull-right', for='newsDay') Day
					.two.columns
						input(class='u-full-width', placeholder='Day', type='text', id='newsDay')
				.row
					.three.columns
						input(class='button-primary', id='citeNewspaper', value='Make Citation', type='button')

			//website
			div(id ='webInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='title') Article Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='webArticleTitle')
				form#webAuthors
					.row
						.two.columns
							label(class='u-pull-right') Author
						.three.columns
							input(name='webAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='webAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='webAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='webAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='webTitle') Website Title
					.six.columns
						input(class='u-full-width', placeholder='Website', type='text', id='webTitle')
				.row
					.two.columns
						label(class='u-pull-right', for='webURL') Newspaper URL
					.six.columns
						input(class='u-full-width', placeholder='URL', type='text', id='webURL')
				.row
					.two.columns
						label(class='u-pull-right', for='webPublisher') Publisher
					.six.columns
						input(class='u-full-width', placeholder='Publisher', type='text', id='webPublisher')
				.row
					.two.columns
						label(class='u-pull-right', for='webYear') Year Published
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='webYear')
					.one.column
						label(class='u-pull-right', for='webMonth') Month
					.two.columns
						input(class='u-full-width', placeholder='Month', type='text', id='webMonth')
					.one.column
						label(class='u-pull-right', for='webDay') Day
					.two.columns
						input(class='u-full-width', placeholder='Day', type='text', id='webDay')
				.row
					.three.columns
						input(class='button-primary', id='citeWebsite', value='Make Citation', type='button')

			//Journal
			div(id ='journalInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='title') Article Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='jouArticleTitle')
				form#jouAuthors
					.row
						.two.columns
							label(class='u-pull-right') Author
						.three.columns
							input(name='jouAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='jouAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='jouAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='jouAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='jouTitle') Journal Title
					.six.columns
						input(class='u-full-width', placeholder='Journal', type='text', id='jouTitle')
				.row
					.two.columns
						label(class='u-pull-right', for='jouPublisher') Publisher
					.six.columns
						input(class='u-full-width', placeholder='Publisher', type='text', id='jouPublisher')
				.row
					.two.columns
						input(class='button', id='selectPrint', value='Print', type='button')
					.two.columns
						input(class='button', id='selectOnline', value='Online', type='button')
					.two.columns
						input(class='button', id='selectDatabase', value='Database', type='button')
				#online.hidden
					.row
						.two.columns
							label(class='u-pull-right', for='jouWebURL') URL
						.six.columns
							input(class='u-full-width', placeholder='URL', type='text', id='jouWebURL')
					.row
						.two.columns
							label(class='u-pull-right', for='jouWebTitle') Website Title
						.six.columns
							input(class='u-full-width', placeholder='Website Title', type='text', id='jouWebTitle')
				#database.hidden
					.row
						.two.columns
							label(class='u-pull-right', for='jouDatURL') URL
						.six.columns
							input(class='u-full-width', placeholder='URL', type='text', id='jouDatURL')
					.row
						.two.columns
							label(class='u-pull-right', for='jouDatTitle') Database Title
						.six.columns
							input(class='u-full-width', placeholder='Database Title', type='text', id='jouDatTitle')
				.row
					.two.columns
						label(class='u-pull-right', for='jouVolume') Volume
					.two.columns
						input(class='u-full-width', placeholder='Volume', type='text', id='jouVolume')
					.one.column
						label(class='u-pull-right', for='jouIssue') Issue
					.two.columns
						input(class='u-full-width', placeholder='Issue Number', type='text', id='jouIssue')
					.one.column
						label(class='u-pull-right', for='jouPages') Pages
					.two.columns
						input(class='u-full-width', placeholder='Page Numbers', type='text', id='jouNumbers')

				.row
					.two.columns
						label(class='u-pull-right', for='jouYear') Year Published
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='jouYear')
					.one.column
						label(class='u-pull-right', for='jouMonth') Month
					.two.columns
						input(class='u-full-width', placeholder='Month', type='text', id='jouMonth')
					.one.column
						label(class='u-pull-right', for='jouDay') Day
					.two.columns
						input(class='u-full-width', placeholder='Day', type='text', id='jouDay')
				.row
					.three.columns
						input(class='button-primary', id='citeJournal', value='Make Citation', type='button')

			//film
			div(id ='movieInput',class='container hidden', style={width: '100%'})
				.row
					.two.columns
						label(class='u-pull-right', for='movietitle') Movie Title
					.six.columns
						input(class='u-full-width', placeholder='Title', type='text', id='movieTitle')
				form#movieAuthors
					.row
						.two.columns
							label(class='u-pull-right') Director
						.three.columns
							input(name='movAuthorLast0' class='u-full-width AuthorLast', placeholder='Last Name', type='text')
						.two.columns
							input(name='movAuthorInitial0' class='u-full-width AuthorInitial', placeholder='Initial', type='text')
						.three.columns
							input(name='movAuthorFirst0' class='u-full-width AuthorFirst', placeholder='First Name', type='text')
						.two.columns
							input(class='button', id='movieAddAuthor', value='Add Author', type='button')
				.row
					.two.columns
						label(class='u-pull-right', for='moviePerformers') Performers
					.six.columns
						input(class='u-full-width', placeholder='Performers', type='text', id='moviePerformers')
				.row
					.two.columns
						label(class='u-pull-right', for='moviePublisher') Publisher
					.four.columns
						input(class='u-full-width', placeholder='Publisher', type='text', id='moviePublisher')
					.one.column
						label(class='u-pull-right', for='movieLocation') Location
					.three.columns
						input(class='u-full-width', placeholder='Location', type='text', id='movieLocation')
				.row
					.two.columns
						label(class='u-pull-right', for='movieYear') Year Released
					.two.columns
						input(class='u-full-width', placeholder='Year', type='text', id='movieYear')
				.row
					.two.columns
						label(class='u-pull-right', for='movieMedium') Medium
					.five.columns
						input(class='u-full-width', placeholder='Medium', type='text', id='movieMedium')
				.row
					.three.columns
						input(class='button-primary', id='citeMovie', value='Make Citation', type='button')
			.footer
				hr
				p CitationScribe is open source under the MIT license. Code available on
					a(href='https://github.com/ianmcxa/citationscribe')
						| Github
						i(class='fa fa-github-square')

		script(src='jquery.min.js')
		script(src='scripts.js')
